/* 
Henri Kelhetter Raphaël desjardins
2025-12-01
Travail long  
*/
@font-face {
    font-family: 'REPO';
    src: url(../fonts/oups/Oups.otf)
}

html {
    cursor: url(../images/REPO.cur) 17 17, auto;
}

a:hover {
    cursor: url(../images/REPO-jaune.cur) 17 17, auto;
}

body {
    background-image: url(../images/Fond.png);
    color: red;
    font-size: 35px;

}

img {
    width: 100%;
}